.area {
  background: rgb(22, 0, 61);
  background: linear-gradient(
    90deg,
    rgba(22, 0, 61, 1) 0%,
    rgba(67, 0, 87, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}

.circles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  z-index: 2;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  animation-duration: 11s;
}

.circles li:nth-child(11) {
  left: 45%;
  width: 100px;
  height: 100px;
  animation-delay: 4s;
  animation-duration: 27s;
}

.circles li:nth-child(12) {
  left: 10%;
  width: 70px;
  height: 70px;
  animation-delay: 15s;
  animation-duration: 18s;
}

.circles li:nth-child(13) {
  left: 70%;
  width: 90px;
  height: 90px;
  animation-delay: 10s;
  animation-duration: 24s;
}

.circles li:nth-child(14) {
  left: 20%;
  width: 60px;
  height: 60px;
  animation-delay: 4s;
  animation-duration: 26s;
}

.circles li:nth-child(15) {
  left: 65%;
  width: 80px;
  height: 80px;
  animation-delay: 12s;
  animation-duration: 20s;
}

.circles li:nth-child(16) {
  left: 25%;
  width: 30px;
  height: 30px;
  animation-delay: 16s;
  animation-duration: 24s;
}

.circles li:nth-child(17) {
  left: 75%;
  width: 150px;
  height: 150px;
  animation-delay: 9s;
  animation-duration: 30s;
}

.circles li:nth-child(18) {
  left: 20%;
  width: 60px;
  height: 60px;
  animation-delay: 16s;
  animation-duration: 30s;
}

.circles li:nth-child(19) {
  left: 30%;
  width: 130px;
  height: 130px;
  animation-delay: 7s;
  animation-duration: 18s;
}

.circles li:nth-child(20) {
  left: 80%;
  width: 50px;
  height: 50px;
  animation-delay: 16s;
  animation-duration: 30s;
}

.circles li:nth-child(21) {
  left: 50%;
  width: 50px;
  height: 50px;
  animation-delay: 4s;
  animation-duration: 30s;
}

.circles li:nth-child(22) {
  left: 30%;
  width: 60px;
  height: 60px;
  animation-delay: 12s;
  animation-duration: 30s;
}

.circles li:nth-child(23) {
  left: 50%;
  width: 30px;
  height: 30px;
  animation-delay: 19s;
  animation-duration: 30s;
}

.circles li:nth-child(24) {
  left: 60%;
  width: 40px;
  height: 40px;
  animation-delay: 20s;
  animation-duration: 19s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 30%;
  }
}

.page {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;

  .card {
    height: 550px;
    width: 450px;
    /* From https://css.glass */
    background: rgba(7, 0, 37, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(7, 0, 37, 0.07);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
      span {
        font-size: 30px;
        font-weight: 600;
        color: #f0e2fc;
        letter-spacing: 20px;
        margin-left: 20px;
      }
    }

    .login-form {
      margin-top: 20px;
      margin-bottom: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .input {
        width: 300px;
        height: 50px;
        background: #ffffff1a;
        border: 1px solid #ffffff1a;
        box-shadow: none !important;
        border-radius: 10px;
        padding: 0 20px;
        margin-bottom: 20px;
        color: #f0e2fc;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        outline: none;
        transition: all 0.3s ease;
        &:focus {
          border: 1px solid #ffffff4d;
        }
        ~ .pass-visibility-toggle {
          position: absolute;
          right: 13px;
          top: 13px;
          cursor: pointer;
          color: #6c757d;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
      }
      .button {
        width: 300px;
        height: 50px;
        background: #f0e2fc;
        border: 1px solid #f0e2fc;
        border-radius: 10px;
        padding: 0 20px;
        margin-bottom: 20px;
        color: #1f0138;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        outline: none;
        transition: all 0.3s ease;
        cursor: pointer;
        &:hover {
          background: #e3c6fd;
        }
      }
    }
  }
}

.dots {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  background-image: url("../../../assets/Design\ sem\ nome.png");
  background-repeat: cover;
  background-size: 3%;
  opacity: 0.1;
}

.form-group {
  position: relative;
}
