/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #000;
  font-family: "Ubuntu", sans-serif;
}

//estilização da barra de scroll
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #00000010;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

* {
  font-family: "Ubuntu", sans-serif;
  ::before {
    display: inline !important;
  }
}

html,
body {
  height: 100%;
}

.dialog-container {
  background: rgba(255, 255, 255, 0.69) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  padding: 20px;
}
